<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inter.java.challenge.repository.CarteiraRepository">

    <resultMap id="carteiraResultMap"
               type="com.inter.java.challenge.data.model.Carteira">

        <id property="id"
            column="id"/>

        <result property="usuarioId"
                column="usuario_id"/>

        <result property="saldoReais"
                column="saldo_reais"/>

        <result property="saldoDolares"
                column="saldo_dolares"/>

        <result property="dataAtualizacao"
                column="data_atualizacao"/>

    </resultMap>

    <select id="buscarPorUsuarioId"
            parameterType="java.lang.Long"
            resultMap="carteiraResultMap">

        SELECT
        ID,
        USUARIO_ID,
        SALDO_REAIS,
        SALDO_DOLARES,
        DATA_ATUALIZACAO
        FROM CARTEIRAS
        WHERE USUARIO_ID = #{usuarioId}

    </select>
    <insert id="salvarNovaCarteira"
            parameterType="com.inter.java.challenge.data.model.Carteira"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="ID">

        INSERT INTO CARTEIRAS (
        USUARIO_ID,
        SALDO_REAIS,
        SALDO_DOLARES
        )
        VALUES (
        #{usuarioId},
        #{saldoReais},
        #{saldoDolares}
        )
    </insert>


    <resultMap
            id="carteiraTransferenciaResultMap"
            type="com.inter.java.challenge.data.model.CarteiraTransferencia">

        <id property="carteiraId" column="carteira_id"/>

        <result property="usuarioId" column="usuario_id"/>
        <result property="tipoUsuario" column="tipo_usuario"/>
        <result property="saldoReal" column="saldo_real"/>
        <result property="saldoDolar" column="saldo_dolar"/>

    </resultMap>

    <select
            id="bloquearCarteiras"
            resultMap="carteiraTransferenciaResultMap">

        SELECT
        C.ID AS carteira_id,
        C.USUARIO_ID AS usuario_id,
        U.TIPO_USUARIO AS tipo_usuario,
        C.SALDO_REAIS AS saldo_real,
        C.SALDO_DOLARES AS saldo_dolar
        FROM CARTEIRAS C
        INNER JOIN USUARIOS U
        ON U.ID = C.USUARIO_ID
        WHERE
        U.ID = #{usuarioOrigemId}
        OR U.ID = #{usuarioDestinoId}
        ORDER BY U.ID
        FOR UPDATE

    </select>

    <update id="debitarSaldoReal">
        UPDATE CARTEIRAS
        SET SALDO_REAIS = SALDO_REAIS - #{valor},
            DATA_ATUALIZACAO = CURRENT_TIMESTAMP
        WHERE USUARIO_ID = #{usuarioId}
        AND SALDO_REAIS >= #{valor}
    </update>

    <update id="debitarSaldoDolar">
        UPDATE CARTEIRAS
        SET SALDO_DOLARES = SALDO_DOLARES - #{valor},
            DATA_ATUALIZACAO = CURRENT_TIMESTAMP
        WHERE USUARIO_ID = #{usuarioId}
        AND SALDO_DOLARES >= #{valor}
    </update>

    <update id="creditarSaldoReal">
        UPDATE CARTEIRAS
        SET SALDO_REAIS = SALDO_REAIS + #{valorReal},
            DATA_ATUALIZACAO = CURRENT_TIMESTAMP
        WHERE USUARIO_ID = #{usuarioId}
    </update>

    <update id="creditarSaldoDolar">
        UPDATE CARTEIRAS
        SET SALDO_DOLARES = SALDO_DOLARES + #{valorDolar},
            DATA_ATUALIZACAO = CURRENT_TIMESTAMP
        WHERE USUARIO_ID = #{usuarioId}
    </update>
</mapper>
